/* All */
:root {
    --darkBackground: rgb(23, 23, 23);
    --darkText: #ffffff;
    --darkCardBackground: rgb(33, 33, 33);
    --progressBackground: rgb(53, 53, 53);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: monospace;
    scroll-behavior: smooth;
}

body {
    background-color: var(--darkBackground);
    color: var(--darkText)
}

a {
    color: var(--darkText);
}



/* Navbar */
nav.no-shadows {
    box-shadow: none!important;
}

nav.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

nav .toggle {
    cursor: pointer;
}

nav .toggle i.switch {
    visibility: visible;
    transition: all 0.3 ease-in-out;
    position: absolute;
}

nav .toggle i.swap {
    visibility: hidden;
    transition: all 0.3 ease-in-out;
    position: absolute;
}

nav i.nav-icon {
    color: var(--darkText);
}

nav i.centre {
    align-content: center;
}

nav.edge {
    margin-right: 17px;
}



/* Title Section */
#title {
    padding-bottom: 1000px;
}

#title .title {
    padding-top: 250px;
    font-size: 120px;
}

#title .title span {
    background: linear-gradient(to top, #207f8b, #5fd1b3);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -mo-text-fill-color: transparent;
}



/* Main Section */
#main {
    padding-top: 100px;
}

#main span.gold {
    background: linear-gradient(to top, #bd9833, #DBB13B);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -mo-text-fill-color: transparent;
}

#main span.blue {
    background: linear-gradient(to top, #207f8b, #5fd1b3);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -mo-text-fill-color: transparent;
}

#main #projects .list1 {
    font-size: 20px;
}

#main #projects ul {
    padding-bottom: 1000px;
}

#main #skills {
    padding-top: 100px;
}

#main #skills .progress {
    background-color: var(--progressBackground);
    margin-top: 14px;
}

#main #skills .row div.text {
    font-size: 20px;
}

#main #skills .bottom {
    padding-bottom: 1000px;
}



/* Footer */
.page-footer {
    background-color: #207f8b;
}

.fd {
    color: white;
}

.fd a {
    color: white;
}



/* Projects Page */
.card {
    background-color: var(--darkCardBackground);
}

.card .container1 {
    margin-left: 10px;
    margin-right: 10px;
}

.card:hover {
    transform: scale(1.075);
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.project-page {
    margin-top: 200px;
}

.project .title {
    padding-top: 5px;
}

.project .card h1 {
    font-size: 35px;
    text-align: center;
}

.project .info {
    margin-top: 20px;
    padding-bottom: 20px;
    height: 200px;
}